/log/
bin/
obj/
*.suo
*.user
*.vs10x
*.tmp
*.tmp_*
*.Publish.xml
*.swp
fontes/index.html
.project
FotosTemp
/fontes/Testes
packages/
assemblies
Fontes/_Resharper.Aramis/
fontes/Aramis/Web.config
fontes/Aramis.sln.docstates
fontes/Aramis/Scripts/JavaScriptFinal.js
fontes/Aramis/Content/css/StylesSheetFinal.css