/log/
bin/
obj/
*.suo
*.user
*.vs10x
*.tmp
*.tmp_*
*.Publish.xml
*.swp
.project
TestResults
fontes/Testes
packages/
assemblies
fontes/_ReSharper.Patterns/
fontes/Patterns.sln.docstates